*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    direction: ltr;
    background-color: #fff;
    overflow-x: hiddenh;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
:root{
    --color:#20ad95;
}
.bg-header{
    background-color: var(--color);
    background: #20ad95;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
    display: flex;
    align-items: center;
    
}
.input-group-nav-search {
    color: #20ad95;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0.375rem 0px 0px 0.375rem;
    height: 30px;
}
.h-30{
    height: 30px;
}
.shoping-icon::after{
    border: 1px solid white;
}
.font-19{
    font-size: 19px;
}
.logo-nav{
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    z-index: 1;
    letter-spacing: 0.8px;
    font-family: "Cairo", sans-serif;
    
}
.w-115{
    width: 115px;
}
.home-nav{
    color: var(--color) !important;
    border-bottom: 3px solid var(--color);
}
.nav-hover:hover{
    color: var(--color) !important;
    border-bottom: 2px solid var(--color);
}
.span-login{
    padding: 15px;
    background-color: var(--color);
    color: white;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 20px;
}
.section-header{
    background-color: #eff6f9;
   min-height: 70vh;
}
.h1-header{
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    color: #222222;
    font-family: "Cairo", sans-serif;
    text-align: right;
    margin-bottom: 25px;
}
.text-color{
    color: var(--color);
}
.pl-50{
    padding-right: 80px;
}
.hero-img {
 
    max-width: 70%;
}
#hero h2{
    color: #555555;
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 400;
    text-align: right;
}
.icone-true{
    background-color: var(--color);
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.group-flex-dev{
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: flex-start;
    align-items: stretch;
}
 .btn-get-started {
    font-family: "Cairo", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 28px;
    border-radius: 15px;
    transition: 0.5s;
    color: #fff;
    background: #20ad95;
    text-decoration: none;
    /* direction: rtl; */
}
.btn-get-started:hover{
    color: white;
    background: #208a78;
}
.bg-pop{
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color: var(--color);
    justify-content: center;
}
.bg-pop:hover{
    color: var(--color);
}
.mt-50{
    margin-top: 55px;
    cursor: pointer;
}
.bg-color{
    background-color: var(--color) !important;
}
.header-bg{
    min-height: 25vh;
}
.border-affter::before{
    content: "";
    border-left: 2px solid #fff;
    /* position: absolute; */
    height: 40%;
    right: 0;
    top: 35%;
}
.mt-60{
    margin-top: 60px;
}
.bg-white-card{
    background-color: white;
    border-radius: 25px;
}
.w-90{
    width: 90%;
}
.section-2{
    background-color: #f9f9f9;
}
.bg-card-d{
    background-color: #dee2e6;
    color: var(--color);
    padding-right: 35px;
    width: max-content !important;
    display: inline-block;
    border-right: solid white 19px;
    padding: 0;

}
.title{
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: right;
    margin-top: 20px;

}
.bg-icon{
    background-color: #d6e1e0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-card-posiont{
    position: absolute;
    top: 1000px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5fa39c7a;
    transition: 0.5s;
    
}
.hover-card:hover .bg-card-posiont{
    top: 0;
}
.mt-120{
    margin-top: 100px;
}
.section-title {
    padding-bottom: 40px;
    padding-top: 50px;
    text-align: right;
    margin-top: 280px;
}
.btn-link{
    text-decoration: none;
    padding: 10px 20px ;
    background-color: var(--color);
    color: white;
    display: flex;
    justify-content: end;
    width: max-content;
}
.btn-link:hover{
    color: white;
}
#about:before {
    content: " ";
    background-image: url(https://ertaqi.com/assetsv23214234/css/img/Webds.png);
    position: absolute;
    background-size: auto 600PX;
    background-position-x: right;
    right: 0;
    top: 36%;
    overflow: hidden;
    height: 700PX;
    width: 100%;
    background-repeat: no-repeat;
}
.about{
    position: relative;
}
.font-40{
    font-size: 40px !important;
}
.title-section{
    color: var(--color);
}
.number-border{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #b6ddd6d4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    right: -9px;
    top: -20px;
}
.icon-box{
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    position: relative;
}
.bg-whitee{
    background-color: white;
}
.btn-tetchar{
    background-color: white;
    text-align: start;
    width: max-content;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
.btn-tetchar:hover{
    background-color: rgb(247, 239, 239);
    color: var(--color);
}
#abou::before{
    content: " ";
    background-image: url(https://ertaqi.com/assetsv23214234/css/img/Web2.png);
    position: absolute;
    background-size: auto 600PX;
    background-position-x: left;
    left: 0;
    top: 36%;
    overflow: hidden;
    height: 700PX;
    width: 450px;
    background-repeat: no-repeat;
}
.mt-70{
    margin-top: 70px !important;
}
.w-60{
    width: 60% !important;
}
.min-h{
   margin-bottom: 120px;
}
.box-card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
}
.link-card{
    text-decoration: none;
    font-weight: 600;
}
.w-80{
    width: 70% !important;
}
.link-card:hover{
    color: var(--color);
}
.d-center{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1222;
}
.text-nonee{
    direction: none !important;
}


div.video {
    width: 420px;
    height: 315px;
    display: none;
    position: absolute;
 
 
 }
 div.video-wrapper {
    z-index: 1;
    background: rgba(0,0,0,.5);
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
 }
 .w-20{
    width: 20% !important;
 }
 .header-instuctor{
    background-image: url(../img/629947024ab7c.png);
    background-repeat: no-repeat;
    background-size: cover;
   min-height: 80vh;
   overflow: auto;

   position: relative !important;
 }
.bg-color-header{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .6;
    background-color: #000;
}
.mt-250{
    margin-top: 240px;
}
.bg-titsher{
    background-color: hsla(0, 0%, 94.5%, .5);
    padding: 20px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
.h-55{
    height: 60px;
}
.input-redes{
    border-radius: 20px;
}
.zIndex{
    z-index: 22;
}
.box-shado{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.title-card{
    position: relative;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.19;
    color: #171347;
    border-bottom: #017d70;
}
.color-dark{
    color: #171347;

}
.checkbox-button label{
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: .875 rem;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #f1f1f1;
    background-color: #f1f1f1;
    color: #818894;
}
.checkbox-button label:hover{
    border: 2px solid var(--color);
}
.secition{
    border-bottom: 2px solid var(--color);
    width: min-content;
    padding-right: 5px;
}
.card-box{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
}
.card-box img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 100px;
    margin: auto;
}
.icone{
    color: #818894;
}
#icone{
    color: yellow !important;
}
.font-w{
    font-weight: 500;
}
.w-85{
    width: 85%;
}
.bg-color-link{
    background-color: #017d70;
}
.bg-color-link:hover{
    background-color: #20ad95;
}
.badge-primary{
    background-color: #017d70;
    color: white;
}
.border-redues{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2196f3;
    position: absolute;
    top: 88px;
    left: 130px;
    cursor: pointer;
}
.btn-shoe{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid #f1f1f1;
    cursor: pointer;

}
.btn-shoe:hover{
    background-color: #ebe6e6;
}
.text-dark-blue{
    color: #171347;
}
.text-gray{
    color: #818894 !important;
}


/* Start Slider Caerd */


      

.post-slide {
    background: #fff;
    margin: 20px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
}
.post-slide .over-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(-45deg, rgba(6, 190, 244, 0.75) 0%, rgba(45, 112, 253, 0.6) 100%);
    transition: all 0.50s linear;
}

.post-slide:hover .over-layer {
    opacity: 1;
    text-decoration: none;
}

.post-slide .over-layer i {
    position: relative;
    top: 45%;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 25px;
}

.post-slide .post-content {
    background: #fff;
    padding: 2px 20px 40px;
    border-radius: 15px;
}

.post-slide .post-title a {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.post-slide .post-title a:hover {
    text-decoration: none;
    color: #3498db;
}

.post-slide .post-description {
    line-height: 24px;
    color: #808080;
    margin-bottom: 25px;
}

.post-slide .post-date {
    color: #a9a9a9;
    font-size: 14px;
}

.post-slide .post-date i {
    font-size: 20px;
    margin-right: 8px;
    color: #CFDACE;
}

.post-slide .read-more {
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
}

.post-slide .read-more:hover {
    background: #3498db;
    text-decoration: none;
    color: #fff;
}

.owl-controls .owl-buttons {
    text-align: center;
    margin-top: 20px;
}

.owl-controls .owl-buttons .owl-prev {
    background: #fff;
    position: absolute;
    bottom: -13%;
    left: 15px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-next {
    background: #fff;
    position: absolute;
    bottom: -13%;
    right: 15px;
    padding: 0 15px 0 18px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
    content: "\f104";
    font-family: FontAwesome;
    color: #333;
    font-size: 30px;
}

.owl-controls .owl-buttons .owl-next:after {
    content: "\f105";
}

@media only screen and (max-width:1280px) {
    .post-slide .post-content {
        padding: 0px 15px 25px 15px;
    }
}

.dir-ltr{
    direction: ltr !important;
}
.owl-next{
    display: none;
}
.owl-prev{
    display: none;
}
.card-blog{
    border-radius: 15px;
}
.img-card  {
    border-radius: 15px;
}
.descrpion-card{
    padding: 10px;
    border-radius: 20px;
    color: white;
    display: inline-block;
    background-color: #208a78;
    position: absolute;
    bottom: -16px;
    right: 40px;
}

.border-re{
    border-radius: 15px;
}
.border-b{

    border-bottom: 3px solid #017d70;
    width:80px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    
}
.img-car{
    width: 110px;
    min-width: 110px;
    height: 111px;
}
.icone-solid{
    color: #017d70 !important;
    font-size: 25px;
}
.font-25{
    font-size: 25px;
    cursor: pointer;
}
.border-redues img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.min-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.link-none{
    text-decoration: none;
    color: #343434;
}
.link-none:hover{
    color: #2b2828;
    text-decoration: underline;
}
.bor{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 100px;
    left: 50px;
}
.translit-hover{
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px !important;
}
.translit-hover:hover{
    transform: translateY(-20px);
}
.ml-20{
    margin-left: -20px !important;
}



.back-to-top {
background-color: var(--color);
text-decoration: none;
cursor: pointer;
width: 56px;
height: 56px;
z-index: 999;
position: fixed;
right: 32px;
bottom: 32px;
display: flex;
align-items: center;
justify-content: center;
border: 0;
border-radius: 100%;
box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.4);
}
.back-to-top:hover {
background-color: #017d70;
}
.back-to-top:active {
box-shadow: none;
background-color: #208a78;
}
.back-to-top svg.icon__arrow-up {
fill: white;
width: 32px;
height: 32px;
}
.intro__title{
    font-size: 55px;
}

.cart-banner {
     width: 100%;
     padding: 100px 0;
     background-color: #1f3b64;
 }
 .color-text{
    color: #4c6373;
 }
 .card-login{
    border-radius: 20px;
    background-color: white;
 }
 .socialDiv  {
    border: 1px solid #DEDEDE;
    width: 75% !important;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}
.socialDiv a{
    color:var(--color);
    text-decoration: none;
}
.socialDiv a:hover{
    color: #017d70;
}
.text-between-lines {
    width: 100%;
    border-bottom: 1px solid #dedede;
    line-height: 0.1em;
    margin: 40px 0px;
}
#login {
    border: 1px solid #DEDEDE;
    height: 45px;
    background: #f4f4f4 !important;
    margin: 5px 0px;
}
.create-link{
    text-decoration: none;
    color: rgba(108,117,125);
}
.bg-rcle-gray{
    background-color: #ececec;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.img-register{
    cursor: pointer;
    transition: 0.5s;
}
.img-register:hover{
    transform: translateY(-30px);
}
.border-none{
    border: none !important;
}